*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Staatliches', cursive;    
}
header{
    background-color: rgba(255, 255, 255, 0);
}
header:hover{
    background-color: white;
    transition: all .5s ease;
}
footer{
    background-color: rgb(31, 31, 31);
}
h3{
    font-size: 20px;
}
p{
    font-size: 15px;
}
.meritz{
    font-family: 'Staatliches', cursive;
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 600;
    margin-right: 30px;

}
.decoracion{
    color: black;
}
.decoracion:hover{
    color: rgb(0, 0, 0);
}
.iconos{
    width: 29px;
}
.cajaLink{
    width: auto;
}
.cajaFlex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.lupita{
    width: 29px; 
    height: 22px;
    margin-bottom: 5px;
}
.linkLupa{
    text-decoration: none;
    color: black;
}
.linkLupa:hover{
    text-decoration: none;
}
.seasonal{
    background-image: url(../media/1412.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    color: rgb(255, 255, 255);
    font-style: italic;
    margin: 0px;
    padding: 0px;
}
.gifiado{
    width: 80px;
    margin-bottom: 17px;
}
.cajita2{
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}
.indexado{
    z-index: 0;
}
.indexado1{
    z-index: 1;
}
.infoPago{
    background-color: rgb(204, 204, 204);
    height: 15vh;
}
.tarjetaCredito{
    color: black;
    width: 40px;
}
.informativo{
    color: black;
    width: 45px;
}
.infoColumnas{
    display: flex;
    justify-content: center;
}
.hackersman{
    margin-top: 25px;
}
