@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=Hind:wght@300;400&family=Nanum+Brush+Script&family=Noto+Sans+Meroitic&family=Rock+3D&family=Staatliches&display=swap");
/*  variables que se repiten */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #ffffff;
  color: #1a1a1a;
  border-top: 1px solid lightgray;
}

section,
main,
footer {
  width: 100%;
}

h3 {
  font-size: 20px;
  font-family: "Noto Sans Meroitic", sans-serif;
}

p {
  font-size: 15px;
  font-family: "Noto Sans Meroitic", sans-serif;
}

li,
ul a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Staatliches", cursive;
}

header {
  background-color: rgba(255, 255, 255, 0.568);
  width: 100%;
}
header:hover {
  background-color: white;
  transition: all 0.5s ease;
}

.marginBanner {
  height: 10vh;
}

.indexado1 {
  z-index: 1;
}
.indexado1 .cajaFlex {
  height: 10vh;
}
.indexado1 .cajaFlex .linkeo {
  text-decoration: none;
}
.indexado1 .cajaFlex .linkeo .gif {
  width: 80px;
}
.indexado1 .cajaFlex .linkeo .meritz {
  font-family: "Caveat", cursive;
  color: rgb(0, 0, 0);
  font-size: 45px;
  font-weight: 600;
}
.indexado1 .cajaFlex .navBg {
  background-color: rgba(255, 255, 255, 0);
}
.indexado1 .cajaFlex .navBg div .decoradoBoton {
  outline: none;
  box-shadow: none;
  border: none;
}
.indexado1 .cajaFlex div .cajaLink {
  width: auto;
}
.indexado1 .cajaFlex div .cajaLink .iconos {
  width: 25px;
}

footer .meritzFooter {
  margin-top: 0px;
  margin-left: 0px;
}
footer .meritzFooter .footerMeritz {
  font-family: "Caveat", cursive;
  font-size: 50px;
}
footer .navFooter {
  margin-top: 40px;
  font-family: "Noto Sans Meroitic", sans-serif;
}
footer .navFooter .footerTitle {
  font-weight: 600;
}
footer .navFooter .showoff {
  margin-top: 0px;
  list-style-type: none;
}
footer .navFooter .showoff .navFooterItem {
  margin-top: 10px;
  margin-bottom: 15px;
}
footer .navFooter {
  margin-top: 40px;
  font-family: "Noto Sans Meroitic", sans-serif;
}
footer .navFooter .footerTitle {
  font-weight: 600;
}
footer .navFooter .direInfo {
  margin-top: 25px;
}
footer .navFooter {
  margin-top: 40px;
  font-family: "Noto Sans Meroitic", sans-serif;
}
footer .navFooter .footerTitle {
  font-weight: 600;
}
footer .navFooter .dataFiscal {
  width: 80px;
}
footer div .tarjetasFooter {
  width: 50px;
  border: 1px lightgray solid;
  border-radius: 5px;
}
footer div .tarjetasFooter1 {
  width: 60px;
  border: 1px lightgray solid;
  border-radius: 5px;
}

main section .indexado {
  z-index: 0;
}
main section .indexado div div .newarrival {
  width: 100%;
  height: 95vh;
}
main .infoPago {
  background-color: #1a1a1a;
  height: 17vh;
  color: white;
}
main .infoPago .infoColumnas {
  display: flex;
  justify-content: center;
}
main .infoPago .infoColumnas div .tarjetaCredito {
  width: 40px;
  fill: rgb(255, 255, 255);
}
main .infoPago .infoColumnas .acomodar {
  margin-top: 40px;
}
main .infoPago .informativo {
  fill: rgb(255, 255, 255);
  width: 40px;
}
main .infoPago .tarjetaCredito {
  width: 40px;
  fill: rgb(255, 255, 255);
}
main .infoPago .acomodar {
  margin-top: 40px;
}
main .cardinas {
  height: 80vh;
}
main .cardinas .hombre {
  background-image: url(../media/men.PNG);
  background-size: cover;
  transition: transform 0.3s;
  background-position: center;
}
main .cardinas .hombre:hover {
  transform: scale(1.02);
}
main .cardinas .mujer {
  background-image: url(../media/women.PNG);
  background-size: cover;
  transition: transform 0.3s;
  background-position: center;
}
main .cardinas .mujer:hover {
  transform: scale(1.02);
}
main .cardinas .accesorios {
  background-image: url(../media/accesorios.PNG);
  background-size: cover;
  transition: transform 0.3s;
  background-position: center;
}
main .cardinas .accesorios:hover {
  transform: scale(1.02);
}
main .cardinas .hijino {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-style: oblique;
}
main .cardinas .hijino:hover {
  backdrop-filter: blur(1.5px);
}
main .cardinas .hijino .txtSize {
  font-size: 40px;
}
main section div div .ropaSeleccion:hover {
  border: 1px lightgray solid;
  transition: all 0.5s ease;
}
main section div div .ropaSeleccion .decorado {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Staatliches", cursive;
  font-weight: 400;
  font-size: 20px;
  width: auto;
}
main section div div .ropaSeleccion .decorado div .galeria {
  width: 100%;
  height: 100%;
}
main section div div .ropaSeleccion .decorado div .nombrePrenda {
  font-size: 16px;
  margin-top: 9px;
  margin-bottom: 0px;
  font-weight: 600;
}
main section div div .ropaSeleccion .decorado div .precios {
  font-family: "Noto Sans Meroitic", sans-serif;
  font-size: 16px;
  margin: 0px;
  font-weight: 400;
}
main section div div .ropaSeleccion .decorado div .colores {
  display: flex;
  margin-top: 5px;
}
main section div div .ropaSeleccion .decorado div .colores .circulos {
  background-color: black;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: solid 2px #dbcfbb;
  margin: 3px;
}
main section div div .ropaSeleccion .decorado div .colores .colorway {
  background-color: white;
}
main section div div .ropaSeleccion .decorado div .colores .colorway1 {
  background-color: lightblue;
}
main section div div .ropaSeleccion .decorado div .colores .colorway2 {
  background-color: lightcoral;
}
main section div div .ropaSeleccion .decorado div .colores .colorway3 {
  background-color: #9b564d;
}
main section div div .ropaSeleccion .decorado div .colores .colorway4 {
  background-color: rgb(187, 178, 178);
}
main section div div .ropaSeleccion .decorado div .colores .colorway5 {
  background-color: rgb(18, 65, 109);
}
main section div div .ropaSeleccion .decorado div .colores .colorway6 {
  background-color: rgb(81, 25, 88);
}
main section div div .ropaSeleccion .decorado div .colores .colorway7 {
  background-color: green;
}
main section .newsletter {
  background-color: #1a1a1a;
  color: white;
}
main section .newsletter .newsTitle {
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
}
main section .newsletter .subtitle {
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}
main section .newsletter .marginFormulario {
  margin-bottom: 60px;
}
main section .newsletter .marginFormulario .correoelec {
  font-weight: 100;
  font-family: "Noto Sans Meroitic", sans-serif;
}
main section .newsletter .marginFormulario .correoelec .tamano {
  width: 400px;
  height: 45px;
  border-radius: 0%;
}
main section .newsletter .marginFormulario .botonColor {
  background-color: #dbcfbb;
  color: black;
  border-radius: 0%;
  height: 45px;
  font-size: 22px;
}
main section .newsletter .marginFormulario .botonColor:hover {
  opacity: 90%;
  background-color: #dbcfbb;
  color: black;
}
main section .newsletter .marginFormulario .enviar {
  width: 350px;
}
main section .separacion {
  margin-top: 30px;
  margin-bottom: 30px;
}
main section .separacion .fondoRedes {
  background-image: url(../media/redes.PNG);
  background-size: cover;
}
main section .separacion .cajinas {
  width: 360px;
  height: 560px;
}
main section .separacion .cajinas .redes {
  width: 100%;
  height: 100%;
}
main section .separacion .cajinas .redes:hover {
  backdrop-filter: brightness(60%);
}
main section .separacion .cajinas .redes .fb {
  width: 90px;
  height: 90px;
  fill: white;
}
main section .separacion .fondoRedes1 {
  background-image: url(../media/redes1.PNG);
  background-size: cover;
}
main section .separacion .fondoRedes2 {
  background-image: url(../media/redes2.PNG);
  background-size: cover;
}
main section .separacion .fondoRedes3 {
  background-image: url(../media/redes3.PNG);
  background-size: cover;
}

main .carrouselMobile {
  margin-bottom: 0px;
}

@media (max-width: 576px) {
  main section .indexado {
    z-index: 0;
  }
  main section .indexado div div .newarrival {
    width: 100%;
    height: 42vh;
  }
}
@media (max-width: 795px) {
  main section .separacion {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  main section .separacion .cajinas {
    width: 45%;
    height: 320px;
  }
}
@media (max-width: 992px) {
  main section .newsletter {
    background-color: #1a1a1a;
    color: white;
  }
  main section .newsletter .newsTitle {
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
  }
  main section .newsletter .subtitle {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  main section .newsletter .marginFormulario {
    margin-bottom: 60px;
  }
  main section .newsletter .marginFormulario .correoelec {
    font-weight: 100;
    font-family: "Noto Sans Meroitic", sans-serif;
  }
  main section .newsletter .marginFormulario .correoelec .tamano {
    width: 100%;
  }
  main section .newsletter .marginFormulario .botonColor {
    background-color: #dbcfbb;
    color: black;
    border-radius: 0%;
    height: 45px;
    font-size: 22px;
  }
  main section .newsletter .marginFormulario .botonColor:hover {
    opacity: 90%;
    background-color: #dbcfbb;
    color: black;
  }
  main section .newsletter .marginFormulario .enviar {
    width: 100%;
    padding: 0;
  }
  main .cardinas {
    height: 80vh;
  }
  main .cardinas .hombre {
    background-position: 50% 7%;
  }
  main .cardinas .mujer {
    background-position: 50% 7%;
  }
  main .cardinas .accesorios {
    background-position: 50% 75%;
  }
}
main .arrival {
  color: #492727;
  background-color: rgb(220, 247, 255);
  background-image: url(../media/nieve.png), url(../media/112.png), url(../media/112.png), url(../media/112.png), url(../media/112.png), url(../media/112.png), url(../media/112.png);
  background-position: 50% 70%, 2% -6%, 32% 2%, 100% -9%, 78% 4%, 51% -12%;
  font-size: 1.2rem;
  background-repeat: no-repeat;
}
main .arrival div .snowbound {
  font-size: 4rem;
  font-family: "Nanum Brush Script", cursive;
}
main .arrival div .breadcrumbColor {
  text-decoration: none;
  color: black;
}
main section .snowy {
  padding-top: 170px;
  background-image: url(../media/snow-cap2-png-51.png);
  background-repeat: no-repeat;
  background-position: 50% 280%;
  background-size: 1700px 600px;
}
main .tallesBg {
  background-color: rgb(220, 247, 255);
}
main .tallesBg div .medida {
  width: 20%;
}
main .tallesBg div .tamanoTabla {
  width: 33%;
}
main .tallesBg div .meritzTalles {
  font-family: "Caveat", cursive;
  color: #492727;
  font-size: 3rem;
}
main .tallesBg div .snowboundSubtitle {
  font-family: "Nanum Brush Script", cursive;
  color: #492727;
  font-size: 3.2rem;
}

/*rgb(165, 233, 255)*/
@media (max-width: 576px) {
  main .marginBanner {
    height: 10vh;
  }
  main .arrival {
    color: #492727;
    background-color: rgb(220, 247, 255);
    background-image: url(../media/nieve.png), url(../media/112.png), url(../media/112.png), url(../media/112.png), url(../media/112.png), url(../media/112.png), url(../media/112.png);
    background-position: 50% 102%, 5% 0%, 50% 1.1%, 90% -0.2%, 90% 2%, -14% 2%, 40% 2.5%;
    background-size: auto, 90px 90px, 90px 90px, 90px 90px, 90px 90px, 90px 90px, 90px 90px;
    font-size: 1.2rem;
    background-repeat: no-repeat;
  }
  main .arrival div .snowbound {
    font-size: 3.4rem;
    font-family: "Nanum Brush Script", cursive;
  }
  main .arrival div .breadcrumbColor {
    text-decoration: none;
    color: black;
  }
  main section .snowy {
    padding-top: 170px;
    background-image: url(../media/snow-cap2-png-51.png);
    background-repeat: no-repeat;
    background-position: 50% 280%;
    background-size: 1700px 600px;
  }
  main .tallesBg {
    background-color: rgb(220, 247, 255);
  }
  main .tallesBg div .medida {
    width: 60%;
  }
  main .tallesBg div .tamanoTabla {
    width: 80%;
  }
  main .tallesBg div .meritzTalles {
    font-family: "Caveat", cursive;
    color: #492727;
    font-size: 3rem;
  }
  main .tallesBg div .snowboundSubtitle {
    font-family: "Nanum Brush Script", cursive;
    color: #492727;
    font-size: 3rem;
  }
}
main section .migue {
  font-size: 1.2rem;
}
main section .migue ol li .breadcrumbColor {
  text-decoration: none;
  color: black;
}

main section .migue {
  font-size: 1.2rem;
}
main section .migue ol li .breadcrumbColor {
  text-decoration: none;
  color: black;
}

main section div .chanito {
  width: 19%;
}
main section div .direccionLink {
  width: 20px;
  height: 20px;
  fill: #000000;
}
main section div .direcciones {
  font-weight: 100;
  font-size: 0.9rem;
  margin-left: 1px;
}
main section div .elpepa {
  width: 90%;
}
main section div .elpepa div .carousel-indicators .ladisco {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/*# sourceMappingURL=style.css.map */
