footer {
    .meritzFooter {
        margin-top: 0px;
        margin-left: 0px;

        .footerMeritz {
            font-family: $tipografiaLogoFooter;
            font-size: 50px;
        }
    }

    .navFooter {
        margin-top: 40px;
        font-family: 'Noto Sans Meroitic', sans-serif;

        .footerTitle {
            font-weight: 600;
        }

        .showoff {
            margin-top: 0px;
            list-style-type: none;

            .navFooterItem {
                margin-top: 10px;
                margin-bottom: 15px;
            }
        }
    }

    .navFooter {
        @include subtituloFooter;

        .footerTitle {
            font-weight: 600;
        }

        .direInfo {
            margin-top: 25px;
        }
    }
    .navFooter{
        @include subtituloFooter;

        .footerTitle {
            font-weight: 600;
        }
        .dataFiscal{
            width: 80px;
        }
    }
    div{
        .tarjetasFooter{
            @include tarjetasFooter(50px)
        }
        .tarjetasFooter1{
            @include tarjetasFooter(60px)
        }
    }
}