@media (max-width:576px) {
    main {
        section {
            .indexado {
                z-index: 0;

                div {
                    div {
                        .newarrival {
                            width: 100%;
                            height: 42vh;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:795px){
    main{
        section{
            .separacion{
                margin-top: 30px;
                margin-bottom: 30px;
                .cajinas{
                    width: 45%;
                    height: 320px;
                }
            }
        }
    }
}

@media (max-width:992px) {
    main {
        section {
            .newsletter {
                background-color: #1a1a1a;
                color: white;

                .newsTitle {
                    font-size: 50px;
                    font-style: italic;
                    font-weight: 600;
                }

                .subtitle {
                    font-size: 15px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                .marginFormulario {
                    margin-bottom: 60px;

                    .correoelec {
                        font-weight: 100;
                        font-family: 'Noto Sans Meroitic', sans-serif;

                        .tamano {
                            width: 100%;
                        }
                    }

                    .botonColor {
                        background-color: #dbcfbb;
                        color: black;
                        border-radius: 0%;
                        height: 45px;
                        font-size: 22px;

                        &:hover {
                            opacity: 90%;
                            background-color: #dbcfbb;
                            color: black;
                        }
                    }

                    .enviar {
                        width: 100%;
                        padding: 0;
                    }
                }
            }

        }
        .cardinas{
            height: 80vh;
            .hombre{
                background-position: 50% 7%;
            }
            .mujer{
                background-position: 50% 7%;
            }
            .accesorios{
                background-position: 50% 75%;
            }
        }
    }
}