main {
    section {
        div {
            .pruebilla {
                background-color: #dbcfbb9f;
                border-radius: 100%;
                width: 35%;

                .try {
                    color: #412626;
                    font-size: 58px;
                }

                .padeo {
                    padding-top: 30px;
                }

                .padeo1 {
                    padding-top: 12px;
                }
            }
        }

        div {
            .chanito {
                width: 19%;
            }

            .direccionLink {
                width: 20px;
                height: 20px;
                fill: #000000;
            }

            .direcciones {
                font-weight: 100;
                font-size: 0.9rem;
                margin-left: 1px;
            }


            .elpepa {
                width: 90%;

                div {
                    .carousel-indicators {
                        .ladisco {
                            width: 10px;
                            height: 10px;
                            border-radius: 100%;
                        }
                    }
                    .carousel-item{
                        
                        .altura{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}