main {
    section {
        .migue{
            font-size: 1.2rem;
            ol {
                li {
                    .breadcrumbColor {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}