@media (max-width:576px){
    main {
        .marginBanner {
            height: 10vh;
        }
    
        .arrival {
            color: #492727;
            background-color: rgb(220, 247, 255);
            background-image: url(../media/nieve.png) , url(../media/112.png) , url(../media/112.png) , url(../media/112.png), url(../media/112.png), url(../media/112.png), url(../media/112.png);
            background-position: 50% 102%, 5% 0% , 50% 1.1%, 90% -0.2%, 90% 2%, -14% 2%, 40% 2.5% ;
            background-size: auto, 90px 90px , 90px 90px , 90px 90px, 90px 90px, 90px 90px, 90px 90px;
            font-size: 1.2rem;
            background-repeat: no-repeat;
    
            div {
                .ison{
                    font-size: 3.4rem;
                    font-family: 'Nanum Brush Script', cursive;
                }
    
                .breadcrumbColor {
                    text-decoration: none;
                    color: black
                }
            }
        }
    
        section {
            .snowy {
                padding-top: 170px;
                background-image: url(../media/snow-cap2-png-51.png);
                background-repeat: no-repeat;
                background-position: 50% 280%;
                background-size: 1700px 600px;
            }
        }
    }
    
}