main {


    .arrival {
        color: #492727;
        background-color: rgb(220, 247, 255);
        background-image: url(../media/nieve.png), url(../media/112.png), url(../media/112.png), url(../media/112.png), url(../media/112.png), url(../media/112.png), url(../media/112.png);
        background-position: 50% 70%, 2% -6%, 32% 2%, 100% -9%, 78% 4%, 51% -12%;
        font-size: 1.2rem;
        background-repeat: no-repeat;

        div {
            .snowbound {
                font-size: 4rem;
                font-family: 'Nanum Brush Script', cursive;
            }

            .breadcrumbColor {
                text-decoration: none;
                color: black;
            }
        }
    }

    section {
        .snowy {
            padding-top: 170px;
            background-image: url(../media/snow-cap2-png-51.png);
            background-repeat: no-repeat;
            background-position: 50% 280%;
            background-size: 1700px 600px;
        }
    }

    .tallesBg {
        background-color: rgb(220, 247, 255);
        div{
            .medida{
                width: 20%;
            }
            .tamanoTabla{
                width: 33%;
            }
            .meritzTalles{
                font-family: $tipografiaLogo;
                color: #492727;
                font-size: 3rem;
            }
            .snowboundSubtitle{
                font-family: 'Nanum Brush Script', cursive;
                color: #492727;
                font-size: 3.2rem;
            }
        }
    }
}

